nav.navbar-self{
    background-color: #24292E;
    border:1px solid #E7E7E7;
}

nav .navbar-container-self{
    width: 1225px;
}

nav .navbar-logo{
    width: 75px;
    margin-top: -8px;
}


nav .navbar-img{
    width: 40px;
}

nav .navbar-spinner-self{
    margin-top: 5px;
}

nav p{
    margin-top: 24px;
    margin-left: 62px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #C8C9CB;
    position: fixed;
}

.nav>li>a{
    padding: 4px 4px 1px 4px;
    /*padding-top: 3px;*/
    /*padding-right: 0px;*/
    /*padding-left: 0px;*/
    /*padding-bottom: 0px;*/

}


.container-self{
    width: 1200px;
    height: 758px;
    background-color: #f0ffff;
}

.sidebar{
    margin-top: 155px;
    width: 135px;
    height: 500px;
    background-color: #f0ffff;
}

.widget-menu{
    background: #f0ffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;

    overflow: hidden
}

ul.unstyled,ol.unstyled, a.unstyled{
    margin:0;
    padding: 0px;
    list-style:none;
}

.sidebar div ul li a{
    height: 65px;
}

.sidebar div ul li a p{
    text-align:center;
    vertical-align:middle;
    line-height: 60px;
    /*width: 50px;*/
}

.sidebar div{
    margin-top: 35px;
}

.sidebar ul.nav li {
    border: 1px solid #337AB7;
    border-radius: 5px;
}


.right{
    width: 100px;
    height: 100px;
    margin-left: 280px;
}
.div2{
	position: absolute;
	margin-left: 200px;
	margin-top: -550px;
	height: 580px;
	width: 920px;
	border: solid 0px;
	background: #D5D5D5;
	opacity:0.5;
	z-index: 1000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*ul.nav li.inactive p{*/
    /*background-color: white;*/
/*}*/
.state{
	position: absolute;
	margin-left: 50px;
	margin-top: 50px;
	width: 150px;
	height: 120px;
}
.state p{
	margin-left: 35px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.des{
	margin-top: 10px;
	margin-left: 35px;
}
.dis{
	position: absolute;
	margin-left: 250px;
	margin-top: 50px;
	width: 180px;
	height: 110px;
	border: solid 2px #555555;
	z-index: 1000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dis p{
	margin-top: 30px;
	margin-left: 30px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.file{
	position: absolute;
	margin-left: 250px;
	margin-top: 240px;
	width: 180px;
	height: 120px;
	border: solid 2px #555555;
	z-index: 1000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.file p{
	margin-top: 20px;
	margin-left: 5px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000000;
}

.fes{
	margin-top: 0px;
	margin-left: 45px;
}
.data{
	position: absolute;
	margin-left: 50px;
	margin-top: 240px;
	width: 150px;
	height: 120px;
}
.data p{
	margin-left: 35px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.flash{
	position: absolute;
	margin-left: 250px;
	margin-top: 430px;
	width: 180px;
	height: 110px;
	border: solid 2px #555555;
	z-index: 1000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.flash p{
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 10px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000000;
}
.flash span{
	margin-top:0px;
	margin-left: 45px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.flash h1{
	margin-top: 10px;
	margin-left: 45px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #000000;
}
.pes{
	margin-top: 10px;
	margin-left: 45px;
}
.falsh{
	position: absolute;
	margin-left: 50px;
	margin-top: 425px;
	width: 150px;
	height: 120px;
}
.falsh p{
	margin-left: 35px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.questin{
	position: absolute;
	left: 500px;
	margin-top: 40px;
	width: 350px;
	height: 510px;
	border: solid 2px #555555;
	z-index: 1000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.questin h1{
	margin-left: 30px;
	font-family: "微软雅黑";
	font-size: 26px;
	margin-bottom: 5px;
}
.hh{
	margin-left: 90px;
	margin-top: 40px;
	width: 170px;
	border-bottom: solid 2px;
}
.questin p{
	margin-left: 40px;
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 18px;
}
.questin ul li{
	margin-left: 40px;
	margin-top: 30px;
	padding-left:10px ;
	font-family: "微软雅黑";
	font-size: 16px;
}
