<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>日志检索分析系统</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/font-awesome.min.css" rel="stylesheet">
	    <link href="css/index.css" rel="stylesheet">
	    <!--<link href="css/buttons.css" rel="stylesheet">-->
	    <link href="css/reset.css" rel="stylesheet">
	    <link href="css/history.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/bootstrap-table.css">
        <link href="img/favicon.ico" rel="shortcut icon">

    </head>
	<body>
		<nav class="navbar navbar-fixed-top navbar-self">
        <div class="container-fluid navbar-container-self">
            <img src="img/SolrLog2.png" class="navbar-logo pull-left"/>
            <p>日志检索分析系统</p>
            <ul class="nav pull-right navbar-spinner-self unstyled">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle unstyled" data-toggle="dropdown">
                        <img src="img/user.jpg" alt="用户头像" class="img-circle navbar-img">
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:text="${session.userName}">用户名</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container container-self">
            <div class="sidebar">
                <div class="sidebar-1">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/index">
                                <p>
                                    <i class="fa fa-tasks fa-lg fa-fw"></i>
                                    控制面板
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/level">
                                <p>
                                    <i class="fa fa-bar-chart-o fa-lg fa-fw"></i>
                                    日志级别分析
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/search">
                                <p>
                                    <i class="fa fa-search-minus fa-lg fa-fw"></i>
                                    日志检索
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/multiSearch">
                                <p>
                                    <i class="fa fa-search fa-lg fa-fw"></i>
                                    组合查询
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-5">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/history">
                                <p>
                                    <i class=" fa fa-lg fa-fw fa-line-chart"></i>
                                    历史日志统计
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-6">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="http://127.0.0.1:8983" target="_blank">
                                <p>
                                    <i class="menu-icon icon-inbox"></i>
                                    Solr Admin界面
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
				
            </div>
        <div class="history">
      		<div class="date">
      			<p>本年异常天数:&emsp;<label id="year"></label></p>
      			<p>本月异常天数:&emsp;<label id="month"></label></p>
      			<p>本周异常天数:&emsp;<label id="week"></label></p>
      		</div>
      		<div class="totle">
      			<select id="choose" class="choose">
      				<option id="Y"><h3>本年异常比例统计</h3></option>
      				<option id="M"><h3>本月异常比例统计</h3></option>
      				<option id="W"><h3>本周异常比例统计</h3></option>
      			</select>
      			
      			<div class="window">
      				
	        		<p>数据库执行detach失败异常</p>
	        		<div class="progress">
					  <div id="d" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					    
					  </div>
					</div>
				
      			</div>
      			<div class="window">
      				
	        		<p>TSP服务异常</p>
	        		<div class="progress">
					  <div id="t" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					    
					  </div>
					</div>
				
      			</div>
      			<div class="window">
      				
	        		<p>控制更新异常</p>
	        		<div class="progress">
					  <div id="c" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					    
					  </div>
					</div>
				
      			</div>
      			<div class="window">
	        		<p>其他异常</p>
	        		<div class="progress">
					  <div id="o" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					    
					  </div>
					</div>
				
      			</div>
        	</div>
        	<div class="error">
        		<h1>历史日志信息</h1>
        		<div class="detail"> <!--这个表的表头名你自己改下我不知道都是什么意思，-->
				<table id="table">
					<thead style="font-family: '微软雅黑'; font-size: 18px;">
						<th data-field="historyLogReportId"><!--在这里改-->历史日志报告ID</th>
						<th data-field="errorNumber">异常数量</th>
						<th data-field="timeoutWarningNumber">清算超时警告数量</th>
						<th data-field="allLogInfoNumber">日志记录数量</th>
						<th data-field="logFileNumber">日志文件数量</th>
						<th data-field="historyLogDate">日志报告日期</th>
					</thead>
				</table>
			</div>
        	</div>
        </div>
        
    </div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/history.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/bootstrap-table.js"></script>
		<script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>
		
	</body>
</html>