<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日志检索分析系统</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/m-query.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
    <link href="img/favicon.ico" rel="shortcut icon">
</head>
<body>
	
	<nav class="navbar navbar-fixed-top navbar-self">
        <div class="container-fluid navbar-container-self">
            <img src="img/SolrLog2.png" class="navbar-logo pull-left"/>
            <p>日志检索分析系统</p>
            <ul class="nav pull-right navbar-spinner-self unstyled">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle unstyled" data-toggle="dropdown">
                        <img src="img/user.jpg" alt="用户头像" class="img-circle navbar-img">
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:text="${session.userName}">用户名</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container container-self">
            <div class="sidebar">
                <div class="sidebar-1">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="index.html">
                                <p>
                                    <i class="fa fa-tasks fa-lg fa-fw"></i>
                                    控制面板
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="statistics.html">
                                <p>
                                    <i class="fa fa-bar-chart-o fa-lg fa-fw"></i>
                                    日志级别分析
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="search.html">
                                <p>
                                    <i class="fa fa-search-minus fa-lg fa-fw"></i>
                                    日志检索
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/multiSearch">
                                <p>
                                    <i class="fa fa-search fa-lg fa-fw"></i>
                                    组合查询
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-5">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/history">
                                <p>
                                    <i class=" fa fa-lg fa-fw fa-line-chart"></i>
                                    历史日志统计
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-6">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="http://127.0.0.1:8983" target="_blank">
                                <p>
                                    <i class="menu-icon icon-inbox"></i>
                                    Solr Admin界面
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
				
            </div>
            <div class="choose">	
            	<h1>多条件组合查询</h1>
				<div class="ss">
					<span class="input input--akira">
						<input class="input__field input__field--akira" type="text" id="timestamp" />
						<label class="input__label input__label--akira" for="timestamp">
							<span class="input__label-content input__label-content--akira">时间</span>
						</label>
					</span>
					<span class="input input--akira">
						<input class="input__field input__field--akira" type="text" id="pid" />
						<label class="input__label input__label--akira" for="pid">
							<span class="input__label-content input__label-content--akira">进程号</span>
						</label>
					</span>
				</div>
				<div class="aa">
					<span class="input input--akira">
						<input class="input__field input__field--akira" type="text" id="content" />
						<label class="input__label input__label--akira" for="content">
							<span class="input__label-content input__label-content--akira">内容</span>
						</label>
					</span>
					<span class="input input--akira">
						<input class="input__field input__field--akira" type="text" id="level" />
						<label class="input__label input__label--akira" for="level">
							<span class="input__label-content input__label-content--akira">级别</span>
						</label>
					</span>
				</div>	
				<button id="go" class="btn btn-info">查找</button>
				
            	<div class="detail">
				<table id="table">
					<thead style="font-family: '微软雅黑'; font-size: 18px;">
						<th data-field="id">UUID</th>
						<th data-field="timestamp">时间</th>
						<th data-field="pid">进程号</th>
						<th data-field="level">级别</th>
						<th data-field="content">内容</th>
					</thead>
				</table>
			</div>
			
    		</div>	
    	</div>
    	
	



    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/m-query.js"></script>
    <script type="text/javascript" src="js/bootstrap-table.js"></script>
	<script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>
</body>
</html>