<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>日志检索分析系统</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/font-awesome.min.css" rel="stylesheet">
	    <link href="css/index.css" rel="stylesheet">
	    <link href="css/reset.css" rel="stylesheet">
	    <link href="css/search.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/bootstrap-table.css">
        <link href="img/favicon.ico" rel="shortcut icon">

    </head>
	<body>
		<nav class="navbar navbar-fixed-top navbar-self">
        <div class="container-fluid navbar-container-self">
            <img src="img/SolrLog2.png" class="navbar-logo pull-left"/>
            <p>日志检索分析系统</p>
            <ul class="nav pull-right navbar-spinner-self unstyled">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle unstyled" data-toggle="dropdown">
                        <img src="img/user.jpg" alt="用户头像" class="img-circle navbar-img">
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container container-self">
            <div class="sidebar">
                <div class="sidebar-1">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/index">
                                <p>
                                    <i class="fa fa-tasks fa-lg fa-fw"></i>
                                    控制面板
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="/level">
                                <p>
                                    <i class="fa fa-bar-chart-o fa-lg fa-fw"></i>
                                    日志级别分析
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/search">
                                <p>
                                    <i class="fa fa-search-minus fa-lg fa-fw"></i>
                                    日志检索
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive disabled">
                            <a href="#">
                                <p>
                                    <i class=""></i>
                                    开发中
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-5">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="inactive">
                            <a href="http://127.0.0.1:8983" target="_blank">
                                <p>
                                    <i class=""></i>
                                    Solr Admin界面
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
				
            </div>
        <div class="search">
        	<h1>搜索日志内容</h1>
        	<div class="col-lg-6 go">
			    <div class="input-group">
			      <input id="se" type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button id="go" class="btn  btn-info" type="button">Go!</button>
			      </span>
			    </div>
			 </div>
			<div class="choose">
				<label class="radio-inline">
					<input type="radio" id="content" name="choose" checked="checked"> 日志内容
				</label>
				<label class="radio-inline">
					<input type="radio" id="pid" name="choose"> 进程号
				</label>
				<label class="radio-inline">
					<input type="radio" id="level" name="choose"> 级别
				</label>
			</div>
			
			<div class="detail">
				<table id="table">
					<thead style="font-family: '微软雅黑'; font-size: 18px;">
						<th data-field="id">UUID</th>
						<th data-field="timestamp">时间</th>
						<th data-field="pid">进程号</th>
						<th data-field="level">级别</th>
						<th data-field="content">内容</th>
					</thead>
				</table>
			</div>
			
        </div>
    </div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/search.js"></script>
		<script type="text/javascript" src="js/bootstrap-table.js"></script>
		<script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>
	</body>
</html>
